<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<title>Hello, World!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    </head>
    <body>
	<div>
  	    <h1>Hello, World!</h1>
	    <p>start here</p>
	    <div id="mapid"></div>
    </body>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
</html>
